{% extends 'blog/base.html' %}

{%  block title %}
    <title>Blog Posts - SixStringsBlog</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {# 'Published On' date. Shows as 'Published on July 21, 2017, 11:04 p.m.' #}
                Published on: {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}